{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

UI for configuring event settings.
*/}}
{{define "title"}}Settings{{end}}
{{define "body"}}
<div class="row justify-content-center">
  {{if .ErrorMessage}}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{.ErrorMessage}}
  </div>
  {{end}}
  <div class="col-lg-8">
    <div class="card card-body bg-body-tertiary">
      <form method="POST">
        <ul class="nav nav-underline mb-3" id="settingsTabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" role="tab">
              General
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="game-tab" data-bs-toggle="tab" data-bs-target="#game" type="button" role="tab">
              Game
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="field-tab" data-bs-toggle="tab" data-bs-target="#field" type="button"
              role="tab">
              Field
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="general" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Event Settings</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Name</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="name" value="{{.Name}}" placeholder="{{.Name}}">
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <legend>Authentication</legend>
              <p>Configure password to enable authentication, or leave blank to disable.</p>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Password for 'admin' user</label>
                <div class="col-lg-6">
                  <input type="password" class="form-control" name="adminPassword" value="{{.AdminPassword}}">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Database Operations</legend>
              <div>
                <a href="/setup/db/save" class="btn btn-primary">Save Copy of Database</a>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-warning" onclick="$('#uploadDatabase').modal('show');">
                  Load Database from Backup
                </button>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataPractice').modal('show');">
                  Clear Practice Data
                </button>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="game" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Game-Specific</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Autonomous Period Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="autoDurationSec" value="{{.AutoDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Pause Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="pauseDurationSec" value="{{.PauseDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Teleoperated Period Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="teleopDurationSec" value="{{.TeleopDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Warning Remaining Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="warningRemainingDurationSec"
                    value="{{.WarningRemainingDurationSec}}">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="field" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Networking</legend>
              <p>Enable this setting if you have a Vivid-Hosting VH-113 access point and Cisco Catalyst 3500-series
                switch
                available, for isolating each team to its own SSID and VLAN.</p>
              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="networkSecurityEnabled">Enable advanced network security</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="networkSecurityEnabled"
                    name="networkSecurityEnabled" {{if .NetworkSecurityEnabled}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">AP Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="apAddress" value="{{.ApAddress}}" placeholder="10.0.100.2">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">AP Channel (6 GHz)</label>
                <div class="col-lg-6">
                  <select class="form-select" name="apChannel" value="{{.ApChannel}}">
                    {{range $i, $j := seq 29}}
                    <option value="{{(add 5 (multiply $i 8))}}"
                      {{if eq $.ApChannel (add 5 (multiply $i 8))}} selected{{end}}>
                      {{(add 5 (multiply $i 8))}}
                    </option>
                    {{end}}
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="switchAddress" value="{{.SwitchAddress}}" placeholder="10.0.100.3">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Switch Password</label>
                <div class="col-lg-6">
                  <input type="password" class="form-control" name="switchPassword" value="{{.SwitchPassword}}">
                </div>
              </div>

            </fieldset>
            <fieldset class="mb-4">
              <legend>E-Stop Panels</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Field E-Stop GPIO Pin<br/>(BCM number; 0 = disabled)</label>
                <div class="col-lg-6">
                  <input type="number" class="form-control" name="fieldEStopPin" value="{{.FieldEStopPin}}" min="0">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Red E-Stop Panel Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="redEStopPanelAddress" value="{{.RedEStopPanelAddress}}" placeholder="10.0.100.50">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blue E-Stop Panel Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blueEStopPanelAddress" value="{{.BlueEStopPanelAddress}}" placeholder="10.0.100.51">
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <legend>Driver Station</legend>
              <p>When enabled, the Driver Station software will prompt teams to allow Cheesy Arena to connect rather
                than automatically connecting, and will preserve the ability to use the spacebar for robot
                disablement. Consider enabling this setting when physical E-Stop buttons are not present.</p>
              <div class="row mb-3">
                <label class="col-lg-8 control-label" for="useLiteUdpPort"> Lite Mode </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="useLiteUdpPort" name="useLiteUdpPort"
                    {{if .UseLiteUdpPort}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label" for="autoConfigureTeams">
                  Auto-Configure Teams on Connection
                </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="autoConfigureTeams"
                    name="autoConfigureTeams" {{if .AutoConfigureTeams}} checked{{end}}>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 align-items-center">
              <button type="submit" class="btn btn-primary">Save All Settings</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<div id="uploadDatabase" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose Backup File</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <form class="form-horizontal" action="/setup/db/restore" enctype="multipart/form-data" method="POST">
        <div class="modal-body">
          <p>Select the database file to load from. <b>This will overwrite any existing data.</b></p>
          <input type="file" name="databaseFile">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Load Database from Backup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="confirmClearDataPractice" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all practice match data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/practice" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Practice Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script>
  // Handle initial tab selection based on URL fragment.
  document.addEventListener("DOMContentLoaded", function () {
    let hash = window.location.hash;
    if (!hash) {
      hash = "#general";
    }
    const tabTrigger = document.querySelector(`[data-bs-target="${hash}"]`);
    const tab = new bootstrap.Tab(tabTrigger);
    tab.show();

    // Update the browser URL when a tab is selected.
    const tabLinks = document.querySelectorAll(`[data-bs-toggle="tab"]`);
    tabLinks.forEach(function (tabLink) {
      tabLink.addEventListener("shown.bs.tab", function (event) {
        const target = event.target.getAttribute("data-bs-target");
        if (target) {
          history.replaceState(null, "", target);
        }
      });
    });
  });
</script>
{{end}}
